/*
:root {
  /*fonts*/***/*
--main-font: 'Roboto', font-family;
--secondary-font: 'Raleway', font-family;

  /*colors*//*
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-main-color: #000000;
  --text-color: #ffffff;
  --accent-color: #2196f3;




  /*otheborr*//*
  --indent: 30px;
  --items: 3;
}*/

body {
  background-color: #fff;
  font-family: var(--main-font);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}



/*base stile*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}*/

.centered {
  text-align: center;
  
}

img {
  display: block;
  
}

/*card set*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(var(--indent)) * (var(--items)-1)) / var (--items));
}

.portfolio .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .link:hover,
.portfolio .link:focus
 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
 
/*Header section*/
.header {
  border-bottom: solid #ECECEC;
    }

.header__container {
  display: flex;
  align-items: center;

}



.logo {
  color: var(--text-main-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding: 0;
  
  padding: 25px 0;
}

.header__logo {
  margin-right: 93px;
}

.logo__word {
  color: var(--accent-color);
}

/*Site navigation*/
.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link--current {
  color: var(--accent-color);
  position: relative;
}

.link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: -3px;
 
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}


.contacts {
  display: flex;
  align-items: center;
}

.contacts__mail {
  color: var(--accent-color);
  margin-right: 50px;
}


.contacts__link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts__link:hover,
.contacts .contacts__link:focus {
  color: var(--accent-color);
}

 
.contacts__mail-icon,
.contacts__pfone-icon {
  margin-right: 10px;
}




/*Hero*/
.hero {
  background-color: #C4C4C4;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;

 background-image: 
 linear-gradient(
   to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
 ),      
    url(../images/hero/hat.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.hero-title {
  color: var(--text-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;

}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}



/*Features section*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-title:last-child {
  margin-right: 0;
}
.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
width: 270px;
}

.features-discription {
  font-size: 14px;
  line-height: 1.71;
}


/*About section*/

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about {
  padding-top: 0;
}


.about-list {
  display: flex;
  gap: 30px;
}

.about-list__item {
  position: relative;
 
}


.about-list__name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: var(--main-font);
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  max-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

 
}

/*Team section*/
.team-section {
  background-color: #f5f4fa;
}
.team-section .subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}



.section-title {
  margin-bottom: 50px;
  
}
.team-position {
  line-height: calc(19 / 16);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.team-list {
  display: flex;
  gap: 30px;
  
}




.teaam-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
background-color: #FFFFFF;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;

}
.subtitle {
    margin-bottom: 10px;
}



/*Footer sectiom*/
.footer {
  background-color: #2f303a;
   padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  gap: 70px;
  padding: 0;
  align-items: baseline;
}
.footer .footer-word {
  color: var(--accent-color);
}
.footer-logo {
  color: var(--text-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
 
}



.contacts-item .contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item .contacts__link:hover,
.contacts-item .contacts__link:focus
 {
  color: var(--accent-color);
}

.footer .contacts-adress {
  color: var(--text-color);
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 
 address {
  font-style: normal;
 }

.footer .contacts-adress:hover,
.footer .contacts-adress:focus
{
  color: var(--accent-color);
 }

.footer-container {
  padding-bottom: 60px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;  
}

.footer-title {
font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;


}
.socials link {
  width: 206px;
  height: 44px;
  padding-top: 0;

}

.footer-signup {
  margin-left: auto;
  
}

.footer-btn {
  display: inline-flex;
  gap: 10px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;

  color: #FFFFFF;
  background-color: #2196F3;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.footer-input {
  display: inline-flex;
  width: 350px;
  height: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  
  padding-left: 16px;

}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}


.btn {
  display: inline-flex;
  fill: #FFFFFF;
  padding: 10px, 28px;
  
  
}


/*Portfolio*/

.header-port {
      border-bottom: 1px solid #ECECEC;
    }


.header-section {
  display: flex;
  gap: 50px;
   
}



.portfolio-item {
  color: var(--title-text-color);
}

 .discription {
  position: relative;
  overflow: hidden;
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
  text-align: ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 23px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .link:hover .overlay,
 .link:focus .overlay {
  transform: translateX(0);
 }


.container-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  
}

.filter-nav {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
 
}


.button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
  Corner radius: 4px
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio button:hover,
.portfolio button:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}



/*рамка*/
.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  
}
.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio .text {
  color: var(--primary-text-color);
  line-height: 1.88;
}

.portfolio .link {
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
}

.footer-logo {
  margin-bottom: 20px;
  
}

.portfolio-btn {
  padding: 6px 22px;
  
}


/* Header icon*/
.contacts__link {
  color: #757575;

}
.contacts__mail-icon,
.contacts__pfone-icon {
fill: currentColor;
}




/*Features icons*/
.icon-image {
display: flex;
align-items: center;
justify-content: center;
background-color: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
margin-bottom: 30px;

}

.features-item {
justify-content: center;
}

/*Socials team*/
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

  .socials-link {
    display: flex;
    align-items: center;
  justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .team-position {
    margin-bottom: 16px;
  }

  .sociai-icon {
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials-link:hover,
  .socials-link:focus {
    background-color:  #2196F3;
  }

  .socials-link:hover .sociai-icon,
  .socials-link:focus .sociai-icon {
    fill: #fff;
  } 



  /*Clients*/
  .clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
  }
  
  .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    color: rgba(175, 177, 184, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .clients-icon {
    fill: currentColor;
  }

  .clients-link:hover,
.clients-link:focus {
  color: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}




/*footer icons*/
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #fff;
}

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
}


.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 528px;
  min-height: 581px; 
  padding: 40px;
  


  background-color: #FFFFFF;
  border-radius: 4px;
  opacity: 1;
  transition: transform 400ms ease-in-out 300ms, opacity 400ms ease-in-out 300ms;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;

  }



  .modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }



/*Modal Form*/
  
.form,
.form-label
 {
  display: block;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  
  }

  .form-group {
    height: 342px;
    margin-bottom: 20px;
  }

  .form-wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;
    
  }

  .form-wrap:last-child {
    margin-bottom: 0;
  }


.form-title {
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  
  color: var(--title-text-color);

}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
   
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  
  color: var(--primary-text-color);
}

.form-text {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} 


.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.form-input:hover,
.form-input:focus {
  border-color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.form-message:hover,
.form-message:focus {
  border-color: rgba(33, 150, 243, 1);
  cursor: pointer;
}


.form-message {
  height: 120px;
  width: 100%;
  resize: none;
  padding: 10px;
  font-family: var(--main-font); 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

}

.form-icon {
  display: block;
  text-align: center;
  position: absolute;
  top: 15%;
  transform: translate(-50);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.form-agryment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
 
  gap: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: var(--primary-text-color);
}

.register-checkbox:checked + .register-icon .icon-uncheck {
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-checkbox:checked + .register-icon .icon-check {
  opacity: 1;
}

.form-agryment-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  
  color: var(--accent-color);
}


.form-agryment-text {
  user-select: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-underline-position: under;
}

.btn-subm {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 52px;
  cursor: pointer;

}












